<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261753885907-vri7k9oda0fndd2vf0c5cf6seqakttlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261753885907-vri7k9oda0fndd2vf0c5cf6seqakttlb</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Ghf9Lz8FFemGBHssKLVc0xZeM89Cv2k</string>
	<key>GCM_SENDER_ID</key>
	<string>261753885907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.joobie.joobie</string>
	<key>PROJECT_ID</key>
	<string>joobie-db68d</string>
	<key>STORAGE_BUCKET</key>
	<string>joobie-db68d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261753885907:ios:e679d0ef7a2d88aa7af026</string>
</dict>
</plist>